.article {
    opacity: 0;
    transition: .15s ease-in-out;
    display: grid;
}

.articleBg {
    opacity: 0;
    transition: .15s ease-in-out;
    display: block;
}

.articleAdd {
    opacity: 1;
    transition: .15s ease-in-out;
    display: grid;
}

.articleBgAdd {
    opacity: 1;
    transition: .15s ease-in-out;
    display: block;
}