.rood-animate {
    width: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}

.blauw-animate {
    width: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}

.paars-animate {
    width: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}

.geel-animate {
    width: 0;
    opacity: 0;
    transition: .3s ease-in-out;
}

.rood-hide {
    display: none;
}

.blauw-hide {
    display: none;
}

.paars-hide {
    display: none;
}

.geel-hide {
    display: none;
}